.nmgn{
	margin-top:10px;
}
.color-nav{
	color:gray;
}

.mgn{
	margin-top: 40px;
	display: block;
}

body {
	background-color: wheat;
}

.icons-nav {
    display: inline-block;
    float: right;
}
